In [3]:
# Inporting the files

import os
import numpy as np
#import statistics as stats
import pandas as pd
import csv
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn import feature_selection, linear_model , metrics,discriminant_analysis , preprocessing , neighbors , cross_validation
from sklearn import utils
pd.set_option('display.max_rows', 15)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 15)

%matplotlib inline
plt.style.use('ggplot')

In [14]:
df = pd.read_csv("cdc_zika.csv")

In [20]:
# report_date - The report date is the date that the report was published. The date should be specified in standard ISO format (YYYY-MM-DD).
# location - A location is specified for each observation following the specific names specified in the country place name database. This may be any place with a 'location_type' as listed below, e.g. city, state, country, etc. It should be specified at up to three hierarchical levels in the following format: [country]-[state/province]-[county/municipality/city], always beginning with the country name. If the data is for a particular city, e.g. Salvador, it should be specified: Brazil-Bahia-Salvador.
# location_type - A location code is included indicating: city, district, municipality, county, state, province, or country. If there is need for an additional 'location_type', open an Issue to create a new 'location_type'.
# data_field - The data field is a short description of what data is represented in the row and is related to a specific definition defined by the report from which it comes.
# data_field_code - This code is defined in the country data guide. It includes a two letter country code (ISO-3166 alpha-2, list), followed by a 4-digit number corresponding to a specific report type and data type.
# time_period - Optional. If the data pertains to a specific period of time, for example an epidemiological week, that number should be indicated here and the type of time period in the 'time_period_type', otherwise it should be NA.
# time_period_type - Required only if 'time_period' is specified. Types will also be specified in the country data guide. Otherwise should be NA.
# value - The observation indicated for the specific 'report_date', 'location', 'data_field' and when appropriate, 'time_period'.
# unit - The unit of measurement for the 'data_field'. This should conform to the 'data_field' unit options as described in the country-specific data guide.

**Variable** | **__ Description__** |** Type**
---|---|---
report_date|date that the report was published|Date
Location|[country]-[state/province]-[county/municipality/city|String
data_field|description of what data is represented in the row and is related to a specific definition defined by the report from which it comes|String
data_field_code|This code is defined in the country data guide|two letter country code (ISO-3166 alpha-2, list), followed by a 4-digit number corresponding to a specific report type and data type.
time_period|If the data pertains to a specific period of time, for example an epidemiological week, that number should be indicated here and the type of time period in the 'time_period_type|NA
time_period_type|Required only if 'time_period' is specified.Types will also be specified in the country data guide. Otherwise should be NA.|NA
Value|The observation indicated for the specific 'report_date', 'location', 'data_field' and when appropriate, 'time_period'|NA
unit|The unit of measurement for the 'data_field.|This should conform to the 'data_field' unit options as described in the country-specific data guide.

In [16]:
df.head()

,report_date,location,location_type,data_field,data_field_code,time_period,time_period_type,value,unit
0,3/19/16,Argentina-Buenos_Aires,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases
1,3/19/16,Argentina-Buenos_Aires,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases
2,3/19/16,Argentina-Buenos_Aires,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,2,cases
3,3/19/16,Argentina-Buenos_Aires,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
4,3/19/16,Argentina-Buenos_Aires,province,cumulative_cases_under_study,AR0005,NaN,NaN,127,cases

In [17]:
#Dropping the NULL COlumns

#df.drop(['Latitude', 'Longitude'], axis = 1, inplace = True)
df = df.drop(['time_period' , 'time_period_type'] , axis =1 )

In [18]:
df.head()

,report_date,location,location_type,data_field,data_field_code,value,unit
0,3/19/16,Argentina-Buenos_Aires,province,cumulative_confirmed_local_cases,AR0001,0,cases
1,3/19/16,Argentina-Buenos_Aires,province,cumulative_probable_local_cases,AR0002,0,cases
2,3/19/16,Argentina-Buenos_Aires,province,cumulative_confirmed_imported_cases,AR0003,2,cases
3,3/19/16,Argentina-Buenos_Aires,province,cumulative_probable_imported_cases,AR0004,1,cases
4,3/19/16,Argentina-Buenos_Aires,province,cumulative_cases_under_study,AR0005,127,cases

In [23]:
df.location.value_counts()

United_States_Virgin_Islands              413
El_Salvador                               305
Puerto_Rico                               260
Ecuador                                   225
Dominican_Republic                        201
Dominican_Republic-Distrito_Nacional      175
Dominican_Republic-Santo_Domingo          172
                                         ...
Haiti-Ouest-Croix_des_Bouquets              1
Haiti-Nord-Plaine_du_Nord                   1
Nicaragua-Nueva_Segovia                     1
Dominican_Republic-Santo_Domingo_Norte      1
Dominican_Republic-Santiago-Caballeros      1
Haiti-Nord-Cap_Haitien                      1
Haiti-Ouest-Petit_Goave                     1
Name: location, dtype: int64

ValueError: min() arg is an empty sequence