In [103]:
import os
import numpy as np
#import statistics as stats
import pandas as pd
import csv
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn import feature_selection, linear_model , metrics,discriminant_analysis , preprocessing , neighbors , cross_validation
from sklearn import utils
pd.set_option('display.max_rows', 15)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 15)

%matplotlib inline
plt.style.use('ggplot')

In [3]:
utils.check_random_state(1)

In [4]:
#Reading the dataset
df = pd.read_csv("Auto.csv")

In [5]:
#Checking the Data types
df.dtypes.value_counts()

int64      4
float64    3
object     2
dtype: int64

In [6]:
#Checking which of the features are object
df.dtypes[df.dtypes == 'object']

horsepower    object
name          object
dtype: object

In [7]:
#Converting to numeric and forcing errors to be NANs
df.horsepower = pd.to_numeric(df.horsepower , 'coerce')
df.horsepower.isnull().sum()

5

In [8]:
df.dropna(inplace = True)

In [9]:
len(df)

392

In [10]:
train_df = df.sample(frac = .5).sort_index()

In [11]:
len(train_df)

196

In [12]:
train_df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500
11,14.0,8,340.0,160.0,3609,8.0,70,1,plymouth 'cuda 340
14,24.0,4,113.0,95.0,2372,15.0,70,3,toyota corona mark ii

In [13]:
model_linear = smf.ols(formula = 'mpg ~ horsepower' , data = train_df).fit()

In [14]:
train_df.index

Int64Index([  3,   4,   5,  11,  14,  15,  16,  17,  20,  21,
            ...
            381, 386, 387, 388, 389, 390, 391, 392, 393, 394],
           dtype='int64', length=196)

In [15]:
train_df.index[1]

4

In [16]:
j = 0
for i in range(0 , len(train_df)):
    if i ==train_df.index[i]:
        print  i
        continue 
    else:
        
        
        df_val = pd.DataFrame.append(df_val , df.ix[[i]] , ignore_index=False , verify_integrity=False) 
        #pd.concat(df_val , temp)

NameError: name 'df_val' is not defined

In [ ]:
len(df_val)

# Bootstrap

In [98]:
# Computing the statistics of Intrest
#Difference in the mean of 2 returns
def alpha_fn(x , y):
    
    X = x
    print "Length of X is %r" %len(X)
    Y = y
    print "Length of Y is %r" %len(Y)
    
    print "mean of X is %r" %X.mean()
    print "mean of Y is %r" %Y.mean()
    
    mean_x = X.mean()
    mean_y = Y.mean()
    print "return value %r" %(mean_x - mean_y)
    return (mean_x - mean_y)

In [99]:
df_prtf = pd.read_csv("Portfolio.csv")

In [100]:
alpha = alpha_fn(df_prtf.X ,df_prtf.Y )
print alpha

Length of X is 97
Length of Y is 97
mean of X is 119.54567010309279
mean of Y is 111.34443298969074
return value 8.201237113402044
8.2012371134

In [112]:
for i in range(0 , len(df_prtf)):
    train_df = df_prtf.sample(frac = .8, random_state = 1).sort_index()
    train_df['alpha_hat'] = alpha_fn(train_df.X , train_df.Y)

Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322
Length of X is 78
Length of Y is 78
mean of X is 120.07333333333332
mean of Y is 111.905
return value 8.168333333333322

In [113]:
train_df.alpha_hat.mean()

8.168333333333306

In [106]:
 #Calling the Bootstrap function
# from sklearn import cross_validation
# bs = cross_validation.Bootstrap(2, n_bootstraps=100, n_train = .75, n_test=None, random_state=None)

AttributeError: 'module' object has no attribute 'Bootstrap'